.input_elem {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  color: black;
  border-width: thin;
}
.readonly {
  color: #36454f;
}

.left {
  border-left: solid;
}

.right {
  border-right: solid;
}

.bottom {
  border-bottom: solid;
}

.top {
  border-top: solid;
}
