video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
  filter: grayscale(100%);
}
.banner {
  padding-top: 1vh;
  text-align: center;
}

.bannerSpan {
  background-color: whitesmoke;
  border-style: round;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
}
